
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="" method="post">

    <label for="">Name</label>
    <input type="text" class="form-control" name="Name">

    <label for="">Price</label>
    <input type="text" class="form-control" name="Price">

    <label for="">Categories ID</label>
    <input type="text" class="form-control" name="CaegoriesID">


    <br />
    <br/>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
