
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<form action="" method="post">

    <label for="">Name</label>
    <input type="text" class="form-control" name="Name">

    c

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

