
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<a class="btn btn-success" href="/Category/Create">Create</a>
<br/>
<br/>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>

    </tr>

    @foreach (var data in Model)
    {
        <tr>
            <td>@data.ID</td>
            <td>@data.Name</td>
            <td><a class="btn btn-dark" href="/Category/Edit/@data.ID">Edit</a></td>
            <td><a class="btn btn-danger" href="/Category/Delete/@data.ID">Delete</a></td>

        </tr>


    }

</table>